body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: #333;
    color: #fff;
    padding: 1 rem 0;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    backgroud: #333
}
nav ul li {
    margin: 0 1rem;
}
nav ul li {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 1.5rem;
}
